// =============================================================================
// Font Face
// =============================================================================
// 	100 – Thin || Hairline
// 	200 – Extra Light || Ultra Light || Thin
// 	300 – Light
// 	400 – Normal || Regular
// 	500 – Medium
// 	600 – Semi Bold || Demi Bold
// 	700 – Bold
// 	800 – Extra Bold || Ultra Bold || Heavy
// 	900 – Black || Heavy

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
	$src: null;

	$extmods: (
		eot: "?",
		svg: "#" + str-replace($name, " ", "_")
	);

	$formats: (
		otf: "opentype",
		ttf: "truetype"
	);

	@each $ext in $exts {
		$extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
		$format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
		$src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
	}

	@font-face {
		font-family: quote($name);
		font-style: $style;
		font-weight: $weight;
		src: $src;
	}
}

//exemple
@include font-face('Montserrat', "../fonts/Montserrat/Montserrat Black 900", 900, black, woff2 woff);
@include font-face('Montserrat', "../fonts/Montserrat/Montserrat SemiBold 600", 600, bold, woff2 woff);
@include font-face('Montserrat', "../fonts/Montserrat/Montserrat Regular 400", 400, normal, woff2 woff);
