.grid {
	background-color: rgba(255, 0, 0, 0.1);
	// position: absolute;
	// top: 0;
	// right: 0;
	// bottom: 0;
	// left: 0;
	pointer-events: none;
	display: flex;
	min-height: 100%;
	margin: 0 -15px;
}

.wrapGrid {
	position: absolute;
	display: flex;
	height: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	pointer-events: none;
	opacity: 0;
	transition: opacity 0.3s;
}
#grid.vis.wrapGrid{
	opacity:.8;
}
.col {
	background-color: rgba(0, 128, 0, 0.1);
	min-height: 100%;
	margin: 0 $ofs;
	width: $col-12;
	display: grid;
	place-items: center;
}

.gridOn {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: none;
	background-color: gray;
	position: fixed;
	right: 20px;
	bottom: 20px;
	opacity: 0.05;
	transition: opacity 0.3s;
	pointer-events: all;
	outline: none;
	&:after {
		display: block;
		content: "⌗";
		color: white;
		margin: 0 auto;
		line-height: 20px;
		transition: color .3s;
		font-size: 15px;
		line-height: 15px;
	}
	&:hover {
		opacity: 0.8;
		transition: opacity .15s ease-in-out;
	}
	&:active{
		&:after{
			color: rgb(0, 0, 0);
		}
	}
	&:hover + .wrapGrid {
		opacity: .5;
		transition: opacity .15s;
	}
}
// demonstration

.wrapperContent {
	display: flex;
	flex-wrap: wrap;
	min-width: 100%;
	margin: 0 -15px ; // = var(ofs) обязательно задать контейнеру блока
}
.content1,
.content2,
.content3,
.content4,
.content5,
.content6 {
	background-color: rgba(0, 0, 255, 0.4);
	height: 50px;
	width: $col-1;
	margin: 0 $ofs;
	margin-top: 30px;
	box-sizing: border-box;
}
.content2 {
	width: $col-2;
}

.content3 {
	width: $col-3;
}
.content4 {
	width: $col-4;
}
.content5 {
	width: $col-5;
}
.content6 {
	width: $col-6;
}
// .content5 {
// 	width: var(--col-5);
// }
