.wrap{
	display: flex;
	width: 100%;
	overflow: hidden;
	flex-direction: column;
	justify-content: flex-start;
	min-height: 100vh;
}

.container {
	position: relative;
	max-width: 1030px;
	margin: 0 auto;
	padding: 0 15px;
	width: 100%;
	min-width:320px;
	min-height: 100%;
	border-right: 1px blue solid;
	border-left: 1px blue solid;
	box-sizing: border-box ;
	
}
