@import 'reset.css';
@import '_fonts';
@import 'container';
@import '_footer';
@import '_grid';
@import '_grid-demo';
@import 'demo';

* {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
	white-space: nowrap;
}


html,
body {
	scroll-behavior: smooth;
}
picture{//??
	width: 100%;
}

